<form [formGroup]="form">
  <!-- Old password -->
  <div class="form-group">
    <label for="oldPassword">Old password:</label>
    <input name="oldPassword" id="oldPassword" type="password" class="form-control" formControlName="oldPassword">
    <div *ngIf="oldPassword.pending">Checking your password ... </div>
    <div class="alert alert-danger" *ngIf="oldPassword.touched && !oldPassword.valid">
      <div *ngIf="oldPassword.errors?.required">Old password is required.</div>
      <div *ngIf="oldPassword.errors?.shouldMatchDbPassword">Password does not match the old one.</div>
    </div>
  </div>

  <!-- New password -->
  <div class="form-group">
    <label for="newPassword">New password:</label>
    <input name="newPassword" id="newPassword" type="password" class="form-control" formControlName="newPassword">
    <div class="alert alert-danger" *ngIf="newPassword.touched && newPassword.invalid">
      <div *ngIf="newPassword.errors.required">Old password is required.</div>
    </div>
  </div>

  <!-- Repeat new password -->
  <div class="form-group">
    <label for="repeatPassword">Repeat password:</label>
    <input name="repeatPassword" id="repeatPassword" type="password" class="form-control" formControlName="repeatPassword">
    <div class="alert alert-danger" *ngIf="repeatPassword.touched && repeatPassword.invalid">
      <div *ngIf="repeatPassword.errors.required">Old password is required.</div>
    </div>
    <div *ngIf=" repeatPassword.valid && form.invalid && form.errors.passwordsShouldMatch" class="alert alert-danger">Passwords
      do not match.</div>
  </div>

  <button class="btn btn-primary">Change password</button>
</form>
